<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
 <xacro:macro name="base">

  <!-- Include SolidWorks-generated URDF -->
  <xacro:include filename="$(find scotty_description)/urdf/scotty_description.urdf" />

  <!-- Define base fixed joint -->
  <joint name="world_to_base" type="fixed">
    <parent link="world"/>
    <child link="base_link"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>

 </xacro:macro>
</robot>
