<launch>
    <!-- Arguments -->
    <arg name="world_file" default="$(find scotty_config)/worlds/default.world"/>
    <arg name="robot_name" default="scotty_robot" />
    <arg name="urdf_file" default="$(find scotty_description)/urdf/scotty.urdf" />
    <arg name="x" default="0" />
    <arg name="y" default="0" />
    <arg name="z" default="0.2" />
    <arg name="roll" default="0" />
    <arg name="pitch" default="0" />
    <arg name="yaw" default="0" />

    <!-- Launch Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_file)" />
    </include>

    <!-- Spawn Robot -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model $(arg robot_name) -x $(arg x) -y $(arg y) -z $(arg z) -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" output="screen" />


    <!-- Load Robot Description -->
    <param name="robot_description" command="$(find xacro)/xacro $(arg urdf_file)" />

    <!-- Node to Set Initial Joint Positions -->
    <node name="state_idle_startup" pkg="scotty_config" type="state_idle_startup.py" output="screen" />
</launch>